<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css'>

    <styles>
        {% block extra_styles %}
        {% endblock %}
    </styles>
</head>
<body>
    <nav>
        <div>
            <div style="display: flex; flex-direction: row; justify-content: space-between; border-bottom: 1px solid black">
                <div style="display: flex; flex-direction: row;">
                    <div>
                        <h1>Eventfire Manager</h1>
                        <a href="/events">Events</a>
                        <a href="/create_event">Create</a>
                    </div>
                </div>
                
                {% if user_info is defined %}
                <div style="margin-left: auto;">
                    <a href="/dashboard">{{ user_info['name'] }}</a>
                </div>
                {% endif %}

            </div>
            
        </div>
    </nav>
{% block content %}
{% endblock %}

{% block scripts %}
{% endblock %}
</body>
