{% extends 'base.html' %}

{% block content %}
<h1>Create New Event</h1>
<form action="/create_event" method="post" id="form1">
    <label>
        Event Name
        <input required name="title" />
    </label>
    <br>
    <label>
        Message to users
        <input
            required
            name="description"
        />
    </label>
    <br>
    <label>
        Event Status
        <select>
            <option value="0">Active</option>
            <option value="1">Deactivated</option>
        </select>
    </label>
    <br>
    <button type="submit" value="create">Create</button>
</form>
{% endblock %}