{% extends 'base.html' %}

{% block extra_head %}
{# https://js-loading-overlay.muhdfaiz.com/ #}
<script src="https://cdn.jsdelivr.net/npm/js-loading-overlay@1.2.0/dist/js-loading-overlay.min.js" integrity="sha256-g9BS2M5/bvSHiIEZeQhkCpJP0iBorA5mnDznsk+89OU=" crossorigin="anonymous"></script>
{% endblock %}

{% block extra_styles %}
#title {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
 
    background-color: var(--background-body);
 
    position: sticky;
    top: 0px;
    padding-top: 10px;
    z-index: 10;
}

#gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#gallery-container div .download {
    background: var(--background-body);
    position: relative;
    bottom: 40px;
    float:right;
    color: var(--links);
    border-radius: 50% 0 0 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 1.5;
    padding: 4px;

    /* "Position relative" moves the element but the space originally occupied remains empty, this negative margin cancels it out! */
    margin-bottom: -38px;
}

#gallery-container div .share {
    background: var(--background-body);
    position: relative;
    bottom: 40px;
    float: left;
    color: var(--links);
    border-radius: 0 50% 0 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 1.5;
    padding: 4px;

    /* "Position relative" moves the element but the space originally occupied remains empty, this negative margin cancels it out! */
    margin-bottom: -38px;
}

.highlight {
    /* Border inside box */
    box-sizing: border-box;
    border: 4px solid gold;
}

.three-squares {
    width: 32%;
}

.three-per-row{
    width: 32%;
    text-align:center;
}

.three-per-row img {
    width: 100%;
}

.three-squares img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

.two-squares {
    width: 47%;
}

.two-squares img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

.two-per-row {
    width: 48%;
    text-align:center;
}

.full-width {
    width: 100%;
    text-align:center;
}

.full-width img {
    width: 100%;
    max-height: 90vh;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

{% endblock %}

{% block scripts %}
<script>
    // Zoom
    let current_idx = 0;
    // Our buttons
    const zi = document.getElementById("zoom_in");
    const zo = document.getElementById("zoom_out");
    // in ascending order from zoomed-out to zoomed-in
    const classes = ["three-per-row", "three-squares", "two-per-row", "two-squares", "full-width"];

    async function share_url(name, rowid){
        window.location.hash = `#${rowid}`;

        // If Safari show the share sheet.
        // It doesn't seem to work well in Android, more testing is needed.
        if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
            navigator.share({url: `${window.location.href}`}).catch(() => {});
        }
        else {
            navigator.clipboard.writeText(window.location.href);
        }

        hash_trimmed = window.location.hash.slice(1);
        const highlighted = document.getElementsByClassName("highlight");
        if (highlighted.length > 0){
            highlighted[0].classList.remove("highlight");
        }
        document.getElementById(`img-${hash_trimmed}`).classList.add("highlight");
        window.location.hash = hash_trimmed;
    }

    async function share_image(name, rowid){
        window.location.hash = `#${rowid}`;

        // If webshare API is not supported simply redirect to download
        if (!navigator.share){
          window.location.href = `/full_res/${name}`;
          return;
        }

        // If Safari show the share sheet.
        // It doesn't seem to work well in Android, more testing is needed.
        if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
            // If we can webshare fetch the image
            JsLoadingOverlay.show();
            fetch(`/full_res/${name}`)
                .then(res=>res.blob())
                .then(blob=>{
                    // Remove the folder name
                    const temp_img = new File([blob], name.split('/', 2)[1]);
                    navigator.share({files: [temp_img]})
                        .catch(() => {});
                })
                .then(_ => {console.error(_);JsLoadingOverlay.hide()})
                .catch((err) => { console.error(err);window.location.href = `/full_res/${name}`; JsLoadingOverlay.hide();});
        }
        else {
            window.location.href = `/full_res/${name}`;
        }
    };

    function _top_left_element(){
        // Find the image closest to the top left corner of the screen;
        let element_at_point;
        for (let i = 0; i < 400; i+= 20) {
            element_at_point = document.elementFromPoint(window.innerWidth / 2 - i, 100+i);
            if (element_at_point && element_at_point.nodeName === "IMG"){
                break;
            }
        }

        hash_trimmed = window.location.hash.slice(1);

        const highlighted = document.getElementsByClassName("highlight");
        if (highlighted.length > 0){
            highlighted[0].classList.remove("highlight");
        }

        if (hash_trimmed > 0){
            document.getElementById(`img-${hash_trimmed}`).classList.add("highlight");
        }
        if (element_at_point){
            window.location.hash = element_at_point.parentNode.id.slice(4);
        }
    }

    function change_zoom(delta){
        // Make note of the current location of the element specified in the hash and the user's scroll location before changing the gallery classes to see if the user scrolled
        let hash_element_location;
        if (window.location.hash.length > 0){
            hash_element_location = document.getElementById(`img-${window.location.hash.slice(1)}`).getBoundingClientRect().y;
        }
        
        const current_y = document.documentElement.scrollTop || document.body.scrollTop;

        // If an image is currently highlighted record that
        let highlighted_id;
        try {
            highlighted_id = document.getElementsByClassName('highlight')[0].id;
        } catch (err) {}

        // If an image is specified in the hash
        if (window.location.hash !== "") {
            // If the user has scrolled far forget about the element in the hash
            if (hash_element_location > window.innerHeight || hash_element_location < -200) {
                highlighted_id = null;
                _top_left_element();
            }
        }
        // If there is not an element in the hash lock to the image in the top left corner
        else {
            _top_left_element();
        }
    

        // Modify the gallery image classes
        if (current_idx + delta > classes.length - 1 || current_idx + delta < 0){
            return;
        }
        current_idx += delta;

        for (const thumb of document.getElementById("gallery-container").children){
            thumb.className = classes[current_idx];
        }

        // If we zoomed out we can now zoom in
        if (delta === -1){
            zi.disabled = false;
        }
        else {
            zo.disabled = false;
        }

        // If we're at the most zoomed in point we can't zoom in any more
        if (current_idx === classes.length - 1){
            zi.disabled = true;
        }
        else if (current_idx === 0){
            zo.disabled = true;
        }

        document.getElementById(`img-${window.location.hash.slice(1)}`).scrollIntoView({behavior: "auto", block: "start", inline: "nearest"});

        // If an image was highlighted highlight it again
        if (highlighted_id){
            document.getElementById(highlighted_id).classList.add('highlight');
        }

        // Store the current setting in a cookie
        document.cookie=`zoom-level=${classes[current_idx]}`;
    }

    // Retrieve the previous zoom level from the cookie (via the backend)
    current_idx = classes.findIndex(a => a === "{{zoom_level}}");

    // If we're at the most zoomed in point we can't zoom in any more
    if (current_idx === classes.length - 1){
        zi.disabled = true;
    }
    else if (current_idx === 0){
        zo.disabled = true;
    }

    window.addEventListener("load", function(){
        // Scroll to an element specified in the hash
        const hash = window.location.hash.slice(1);
        if (hash.length > 1){
            const hash_trimmed = hash;
            document.getElementById(`img-${hash_trimmed}`).scrollIntoView();
            document.getElementById(`img-${hash_trimmed}`).classList.add("highlight");   
        }
    });
</script>
{% endblock %}

{% block content %}

<blockquote>
{{description}}
</blockquote>
<div id="title">
    <a class="nav-button" style="margin-right:100%; margin-left:0; margin-right:0;" href="/uploader/{{ content[0] }}">Upload!</a>

    <div>Zoom:
        <button id="zoom_out" onClick="change_zoom(-1);">-</button>
        <button id="zoom_in" onClick="change_zoom(1);">+</button>
    </div>
</div>

{% if asset_count == 0 %}
    <p>Nothing has been uploaded yet!</p>
{% else %}
    <div id="gallery-container">
    {% for image in images %}
        <div id="img-{{image[2]}}" class="{{zoom_level}}" href="/full_res/{{image[1]}}">
            <img src="{{image[0]}}">
            <a title="Copy link to clipboard" class="share" onclick="share_url('{{image[1]}}', '{{image[2]}}');">📋</a>
            <a class="download" onclick="share_image('{{image[1]}}', '{{image[2]}}');">&#10515</a>
        </div>
    {% endfor %}
    </div>

    {% if no_thumbs != [] %}
    The following files could not be previewed:
    <ul>
    {% for no_thumb in no_thumbs %}
        <li><a href="/full_res/{{no_thumb[1]}}/{{no_thumb[0]}}">{{no_thumb[0]}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
{% endif %}

{% endblock %}
