{% extends 'base.html' %}

{% block extra_styles %}
#title {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
 
    background-color: var(--background-body);
 
    position: sticky;
    top: 0px;
    padding-top: 10px;
    z-index: 10;
}

#gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#gallery-container div a{
    background: var(--background-body);
    position: relative;
    bottom: 40px;
    float:right;
    color: var(--links);
    border-radius: 50% 0 0 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 1.5;
    padding: 4px;

    /* "Position relative" moves the element but the space originally occupied remains empty, this negative margin cancels it out! */
    margin-bottom: -38px;
}

.three-squares {
    width: 32%;
    
}

.three-squares img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

.three-per-row{
    width: 32%;
    text-align:center;
}

.two-squares {
    width: 47%;
    
}

.two-squares img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

.two-per-row{
    width: 48%;
    text-align:center;
}
.full-width{
    width: 100%;
    text-align:center;
}

{% endblock %}

{% block scripts %}
<script>
    // Zoom
    let current_idx = 0;
    const classes = ["three-squares", "three-per-row", "two-squares",  "two-per-row", "full-width"];
    
    function change_zoom(delta){
        if (current_idx + delta > classes.length - 1 || current_idx + delta < 0){
            return;
        }
        current_idx += delta;

        for (const thumb of document.getElementById("gallery-container").children){
            thumb.className = classes[current_idx];
        }

        // Disable the zoom in and out buttons on max zooms
        const zi = document.getElementById("zoom_in");
        const zo = document.getElementById("zoom_out");

        if (delta === -1){
            zi.disabled = false;
        }
        else {
            zo.disabled = false;
        }
        if (current_idx === classes.length - 1){
            zi.disabled = true;
        }
        else if (current_idx === 0){
            zo.disabled = true;
        }
    }
</script>
{% endblock %}

{% block content %}
<div id="title">
    <a class="nav-button" style="margin-right:100%; margin-left:0; margin-right:0;" href="/uploader/{{ content[0] }}">Upload!</a>

    <div>Zoom:
        <button id="zoom_out" onClick="change_zoom(-1);" disabled>-</button>
        <button id="zoom_in" onClick="change_zoom(1);">+</button>
    </div>
</div>

{% if asset_count == 0 %}
    <p>Nothing has been uploaded yet!</p>
{% else %}
    <div id="gallery-container">
    {% for image in images %}
        <div class="three-squares" href="/full_res/{{image[1]}}">
            <img style="width:100%;" src="{{image[0]}}">
            <a href="/full_res/{{image[1]}}">&#10515;</a>
        </div>
    {% endfor %}
    </div>
{% endif %}

{% endblock %}
