{% extends "base.html" %}

{% block scripts %}
<link href="https://releases.transloadit.com/uppy/v2.3.2/uppy.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<blockquote>{{ event_description }}</blockquote>

    <label>
        Uploader Name
        <input
            type="text"
            id="uploader-name"
            placeholder="Uploader's Name"
            default='anonymous'
            oninput="uppy.setMeta({ 'uploader-name': document.getElementById('uploader-name').value });"
            required
        >
    </label>

<div id="drag-drop-area"></div>

<a href="/get_event/{{user_facing_id}}">Gallery</a>
<h3>NOTE: Files are not encrypted and can be viewed by system administrators.</h3>

<script src="https://releases.transloadit.com/uppy/v2.3.2/uppy.min.js"></script>
<script>
    const { AwsS3 } = window.Uppy;
    
    // The user doesn't want to identify themselves
    let first_upload = true;

    function update_uploader_name_on_first_upload(){
        let name = uppy.getState().meta['uploader-name'];
        
        if (name === 'anonymous' && first_upload){
            name = prompt("Associate your name with these files? (Cancel to upload as anonymous)");
            if (name !== null){
                uppy.setMeta({ 'uploader-name': name });
                document.getElementById('uploader-name').value = name;
            }
            else {
                first_upload = false;
            }
        }
    }

    var uppy = new Uppy.Core(
        {
            restrictions: {
                allowedFileTypes: ['.jpg', '.JPG', '.jpeg', '.JPEG', '.heic', '.heif', '.png', '.PNG', '.mov', '.MOV', '.mp4', '.MP4', '.gif', '.GIF', '.mkv'],
            },
            onBeforeUpload: () => { update_uploader_name_on_first_upload() },
            meta: {
                'uploader-name': document.getElementById('uploader-name').value || "anonymous"
            },
            debug: false
        })
        .use(Uppy.Dashboard, {
            inline: true,
            target: '#drag-drop-area',
            proudlyDisplayPoweredByUppy:false,
        })
        .use(AwsS3, {
            limit: 2,
            metaFields: ['uploader-name'],
            timeout: 60000, // 1 minute
            companionUrl: '/{{user_facing_id}}/'
        })

    uppy.on('complete', (result) => {
        console.log('Upload complete! We’ve uploaded these files:', result.successful)
    })
</script>
{% endblock %}
